@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: hsl(0, 100%, 100%);
  --purple-100: hsl(275, 100%, 97%);
  --purple-600: hsl(292, 16%, 49%);
  --purple-950: hsl(292, 42%, 14%);
  --hover: #ad28eb;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

*,
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  background-color: var(--purple-100);
}

p {
  margin: 0;
  padding: 0;
}

/* Mobile: 375px */
.wrapper {
  background-image: url('/assets/images/background-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 240px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-wrapper {
  background-color: var(--white);
  border-radius: 8px;
  padding: 18px;
  margin: 90px auto;
  width: 90%;
  z-index: 1;
}

.content__header {
  color: var(--purple-950);
  display: flex;
  flex-direction: row;
}

.icon-star {
  margin-right: 15px;
}

.content__card {
  background-color: var(--white);
  padding: 25px 0;
  border-bottom: 2px solid var(--purple-100);
}

.content__card:last-child {
  border-bottom: none;
}

.content__card-hidden {
  display: none;
}

.content__card-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content__card-head p {
  font-weight: var(--fw-600);
  color: var(--purple-950);
  /* padding-right: 46px; */
  width: 300px;
}

.content__card-head p:hover {
  color: var(--hover);
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.icon {
  background-image: url('/assets/images/icon-plus.svg');
  height: 34px;
  width: 31px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.icon-minus {
  background-image: url('/assets/images/icon-minus.svg');
}

.icon-plus {
  background-image: url('/assets/images/icon-plus.svg');
}

.content__card-body {
  display: none;
  transition: 300ms ease-in-out;
  /* transition: all 0.3s ease; */
}

.content__card-body.show {
  display: block;
}

.content__card-body p {
  font-weight: var(--fw-400);
  color: var(--purple-600);
  line-height: 22px;
  margin-top: 20px;
  padding-right: 12px;
}

/* Desktop: 1440px */
@media screen and (min-width: 768px) {
  .wrapper {
    background-image: url('/assets/images/background-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-wrapper {
    margin-top: 155px;
    width: 40%;
    z-index: 1;
  }

  .title {
    font-size: 36px;
  }

  .content__card {
    background-color: var(--white);
    padding: 20px 0;
    border-bottom: 2px solid var(--purple-100);
  }

  .content__card:last-child {
    border-bottom: none;
  }

  .content__card-head {
    justify-content: space-between;
  }

  .content__card-head p {
    font-size: 16px;
    padding-right: 0;
    width: 100%;
  }

  .content__card-body p {
    font-size: 16px;
    padding-right: 50px;
    line-height: 25px;
    letter-spacing: 0.5px;
  }

  .icon {
    height: 30px;
    width: 31px;
  }
}
